<div ng-controller="dobavljaciCtrl">

	<div class="page-header" style="margin-top: 20p">
		<h3>
			Dobavljači <span class="badge">{{totalDobavljaci}}</span>
		</h3>
		<button class="btn btn-success" ng-click="changeView()">
			<span class="{{iconClass}}"></span>{{option}}
		</button>
	</div>

	<div id="saveEntity" class="container-fluid" ng-show="show">
		<form class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
			<legend>{{optionText}}</legend>
			<div class="form-group">
				<label for="naziv">Naziv</label>
				<input class="form-control" id="naziv" type="text" ng-model="noviDobavljac.naziv">
			</div>
			<div class="form-group">
				<label for="maticniBroj">Matični broj</label>
				<input class="form-control" id="maticniBroj "type="text" ng-model="noviDobavljac.maticniBroj">
			</div>
			<button class="pull-right btn btn-primary" ng-click="save()"><span class="glyphicon glyphicon-floppy-save"></span>Sačuvaj</button>
		</form>
	</div>
	
	<div id="searchEntity" class="container-fluid" ng-show="!show">
		<form class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
			<legend>{{optionText}}</legend>
			<div class="form-group">
				<label for="naziv">Naziv</label>
				<input class="form-control" id="naziv" type="text" ng-model="trazeniDobavljac.naziv" ng-change="search()">
			</div>
			<div class="form-group">
				<label for="maticniBroj">Matični broj</label>
				<input class="form-control" id="maticniBroj" type="text" ng-model="trazeniDobavljac.maticniBroj" ng-change="search()">
			</div>
		</form>
	</div>
	
	<div class="pull-right container-fluid">
		<button class="btn btn-primary" ng-click="prev()" ng-disabled="pageNum == 0"><span class="glyphicon glyphicon-chevron-left"></span>Prethodna</button>
		<button class="btn btn-primary" ng-click="next()" ng-disabled="pageNum == totalPages-1">Sledeća<span class="glyphicon glyphicon-chevron-right"></span></button>
	</div>
	
	<div class="container-fluid">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Naziv</th>
					<th>Matični broj</th>
					<th>Ugovori dobavljača</th>
					<th>Akcije</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in dobavljaci">
					<td>{{d.naziv}}</td>
					<td>{{d.maticniBroj}}</td>
					<td>
						<button class="btn btn-info" ng-click="view(d.id)"><span class="glyphicon glyphicon-eye-open"></span>Vidi ugovore</button>
					</td>
					<td>
						<button class="btn btn-warning" ng-click="editHere(d.id)"><span class="glyphicon glyphicon-pencil"></span>Izmeni ovde</button>
						<button class="btn btn-danger" ng-click="delete(d.id)"><span class="glyphicon glyphicon-trash"></span>Obriši</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>