    <div class="container" ng-controller="loginCtrl">
        <div class="card card-container">
            <form class="form-signin">
                <input type="text" id="korisnickoIme" class="form-control" ng-model="korisnik.korisnickoIme" placeholder="Korisnicko ime" required autofocus>
                <input type="password" id="lozinka" class="form-control" ng-model="korisnik.lozinka" placeholder="Lozinka" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="search()">
               		Uloguj se
                </button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->