<div ng-controller="nabavkeCtrl">

	<div class="page-header" style="margin-top: 20p">
		<h3>
			Nabavke <span class="badge">{{totalNabavke}}</span>
		</h3>
		<button class="btn btn-success" ng-click="changeView()">
			<span class="{{iconClass}}"></span>{{option}}
		</button>
	</div>

	<div id="saveEntity" class="container-fluid" ng-show="show">
		<form class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
			<legend>{{optionText}}</legend>
			<div class="form-group">
				<label for="oznaka">Oznaka</label>
				<input class="form-control" id="oznaka" type="text" ng-model="novaNabavka.oznaka">
			</div>
			<div class="form-group">
				<label for="procenjenaVrednost">Procenjena vrednost</label>
				<input class="form-control" id="procenjenaVrednost " type=text ng-model="novaNabavka.procenjenaVrednost">
			</div>
			<div class="form-group">
				<label for="vrstaPostupkaId">Vrsta postupka</label>
				<select class="form-control" id="vrstaPostupkaId" ng-options="vPo.id as vPo.naziv for vPo in vrstePostupka" ng-model="novaNabavka.vrstaPostupkaId">
					<option value=""></option>
				</select>
			</div>
			<div class="form-group">
				<label for="vrstaPredmetaId">Vrsta predmeta</label>
				<select class="form-control" id="vrstaPredmetaId" ng-options="vPr.id as vPr.naziv for vPr in vrstePredmeta" ng-model="novaNabavka.vrstaPredmetaId">
					<option value=""></option>
				</select>
			</div>
			<button class="pull-right btn btn-primary" ng-click="save()">
				<span class="glyphicon glyphicon-floppy-save"></span>Sačuvaj
			</button>
		</form>
	</div>

	<div id="searchEntity" class="container-fluid" ng-show="!show">
		<form class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
		<legend>{{optionText}}</legend>
			<div class="form-group">
				<label for="oznaka">Oznaka</label>
				<input class="form-control" id="oznaka" type="text" ng-model="trazenaNabavka.oznaka" ng-change="search()">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="procenjenaVrednostMin">Procenjena vrednost MIN</label>
					<input class="form-control" id="procenjenaVrednostMin" type="text" ng-model="trazenaNabavka.procenjenaVrednostMin" ng-change="search()">
				</div>
				<div class="form-group col-md-6">
					<label for="procenjenaVrednostMax">Procenjena vrednost MAX</label>
					<input class="form-control" id="procenjenaVrednostMax" type="text" ng-model="trazenaNabavka.procenjenaVrednostMax" ng-change="search()">
				</div>
			</div>
			<div class="form-group">
				<label for="vrstaPostupkaId">Vrsta postupka</label>
				<select class="form-control" id="vrstaPostupkaId" ng-options="vPo.id as vPo.naziv for vPo in vrstePostupka" ng-model="trazenaNabavka.vrstaPostupkaId" ng-change="search()">
					<option value=""></option>
				</select>
			</div>
			<div class="form-group">
				<label for="vrstaPredmetaId">Vrsta predmeta</label>
				<select class="form-control" id="vrstaPredmetaId" ng-options="vPr.id as vPr.naziv for vPr in vrstePredmeta" ng-model="trazenaNabavka.vrstaPredmetaId" ng-change="search()">
					<option value=""></option>
				</select>
			</div>
		</form>
	</div>

	<div class="pull-right container-fluid">
		<button class="btn btn-primary" ng-click="prev()" ng-disabled="pageNum == 0">
			<span class="glyphicon glyphicon-chevron-left"></span>Prethodna
		</button>
		<button class="btn btn-primary" ng-click="next()" ng-disabled="pageNum == totalPages-1">
			Sledeća<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>

	<div class="container-fluid">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th class="prva">Oznaka</th>
					<th>Procenjena vrednost</th>
					<th>Vrsta postupka</th>
					<th>Vrsta predmeta</th>
					<th>Ugovori nabavke</th>
					<th>Akcije</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="n in nabavke | orderBy : 'name' : reverse">
					<td>{{n.oznaka}}</td>
					<td>{{n.procenjenaVrednost}}</td>
					<td>{{n.vrstaPostupkaNaziv}}</td>
					<td>{{n.vrstaPredmetaNaziv}}</td>
					<td>
						<button class="btn btn-info" ng-click="view(n.id)">
							<span class="glyphicon glyphicon-eye-open"></span>Vidi ugovore
						</button>
					</td>
					<td>
						<button class="btn btn-warning" ng-click="editHere(n.id)">
							<span class="glyphicon glyphicon-pencil"></span>Izmeni ovde
						</button>
						<button class="btn btn-danger" ng-click="delete(n.id)">
							<span class="glyphicon glyphicon-trash"></span>Obriši
						</button> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>