<div ng-controller="ugovoriDobavljacaCtrl">
	<div class="page-header" style="margin-top: 20p">
		<h3>
			Ugovori dobavljača <span class="badge">{{totalUgovori}}</span>
		</h3>
	</div>
	
	<div class="pull-left container-fluid">
		<button class="btn btn-primary" ng-click="back()">
			<span class="glyphicon glyphicon-chevron-left"></span>Povratak
		</button>
	</div>
	<div class="pull-right container-fluid">
		<button class="btn btn-primary" ng-click="prev()" ng-disabled="pageNum == 0">
			<span class="glyphicon glyphicon-chevron-left"></span>Prethodni
		</button>
		<button class="btn btn-primary" ng-click="next()" ng-disabled="pageNum == totalPages-1">
			Sledeći<span class="glyphicon glyphicon-chevron-right"></span>
		</button>
	</div>

	<div class="container-fluid">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Interni broj</th>
					<th>Ugovorena vrednost</th>
					<th>Oznaka nabavke</th>
					<th>Naziv dobavljača</th>
					<th>Matični broj dobavljača</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in ugovori| orderBy : 'name' : reverse">
					<td>{{u.interniBroj}}</td>
					<td>{{u.ugovorenaVrednost}}</td>
					<td>{{u.nabavkaOznaka}}</td>
					<td>{{u.dobavljacNaziv}}</td>
					<td>{{u.dobavljacMaticniBroj}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>